<nav class="bg-blue-600 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">



      <!-- Links -->
      <div class="hidden md:flex space-x-6">
        <a routerLink="home2" routerLinkActive="text-yellow-300"
           [routerLinkActiveOptions]="{exact:true}"
           class="hover:text-yellow-200">DataSharing</a>

        <a routerLink="pipe" routerLinkActive="text-yellow-300"
           class="hover:text-yellow-200">Pipe</a>

        <a routerLink="service" routerLinkActive="text-yellow-300"
           class="hover:text-yellow-200">Service</a>
      </div>

 </div>
 </div>



</nav>

