<div class="min-h-screen bg-gray-900 text-white p-8 flex flex-col items-center space-y-8 ">


  <h1 class="text-4xl font-bold text-center text-yellow-400 mt-8  w-full">Style Rules</h1>

  <h2 class="w-full">Second Header</h2>


  <div class="bg-black/30 backdrop-blur-lg p-4 rounded-xl w-1/2 text-center shadow-lg">
    <button class="px-4 py-2 w-full rounded-lg font-medium text-white bg-gradient-to-r from-pink-500 via-red-500 to-red-600 hover:from-red-500 hover:to-pink-500 shadow-lg animate-pulse transition transform hover:scale-105 flex items-center justify-center gap-2">
      <i class="fas fa-heart"></i>
      Logout
    </button>
  </div>

</div>


<Style>
h2{
  text-align: center;
  background: linear-gradient(to right , rgb(180, 65, 65) , rgb(189, 122, 122) , red);
}
</Style>
